<?php

# i had to do this to get MDB2 from the MAMP installation
set_include_path('/Applications/MAMP/bin/php5/lib/php' . PATH_SEPARATOR . get_include_path());

#-----------------------
# template configuration
#-----------------------
$root_dir = '/Users/al/TestApp';
$smarty->template_dir = "$root_dir/templates";
$smarty->compile_dir  = "$root_dir/compile";
$smarty->cache_dir    = "$root_dir/cache";
$smarty->config_dir   = "$root_dir/config";

# you can assign any template variables you want
$smarty->assign('PACKAGE_NAME', 'com.devdaily.foo.model');
$smarty->assign('MODEL_PACKAGE_NAME', 'com.devdaily.foo.model');
$smarty->assign('CONTROLLER_PACKAGE_NAME', 'com.devdaily.foo.controller');
$smarty->assign('DAO_PACKAGE_NAME', 'com.devdaily.foo.dao');

# lets the user change the smarty delimiters.
$smarty->left_delimiter = '<<';
$smarty->right_delimiter = '>>';

#-----------------------
# database configuration
#-----------------------
$dsn = array(
  'phptype'  => 'mysql',
  'username' => 'root',
  'password' => 'root',
  'hostspec' => 'localhost',
  'database' => 'drupal',
);

$options = array(
  'debug'       => 2,
);
  #'portability' => MDB2_PORTABILITY_ALL,
?>



